.Mainlayout {
	height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 15% 75% 10%;
    grid-template-columns: repeat(6,1fr);
}

.Mainlayout>header,
.Mainlayout>footer{
    grid-column: span 6;
}

.Mainlayout>main{
    grid-column: span 5;
}

.Mainlayout,
.Mainlayout>*{
    border: 1px solid white;
}